<!DOCTYPE html>
<html>
<head>
    <title>Daftar Pengaduan Kelurahan</title>
</head>
<body>
    <h1>Daftar Semua Pengaduan Warga</h1>

    <ul>
        {% for aduan in pengaduan_list %}
            <li>
                <strong>{{ aduan.judul }}</strong> — oleh {{ aduan.pelapor.nama_lengkap }}
                <br>
                <em>Status:</em> {{ aduan.get_status_display }}
                <p>{{ aduan.deskripsi }}</p>
                <small>Ditulis pada: {{ aduan.tanggal_lapor|date:"d M Y H:i" }}</small>
            </li>
        {% empty %}
            <li>Belum ada pengaduan yang dibuat.</li>
        {% endfor %}
    </ul>
</body>
</html>
