<!DOCTYPE html>
<html>
<head>
    <title>Detail Warga</title>
</head>
<body>
    <h1>Detail Warga</h1>
    <a href="{% url 'warga_edit' object.pk %}">Edit Data</a> | 
    <a href="{% url 'warga_hapus' object.pk %}">Hapus Data</a>
    <p>Nama Lengkap: {{ warga.nama_lengkap }}</p>
    <p>NIK: {{ warga.nik }}</p>
    <p>Alamat: {{ warga.alamat }}</p>
    <p>Nomor Telepon: {{ warga.no_telepon }}</p>
    <a href="{% url 'warga_list' %}">← Kembali ke daftar</a>


    <hr>
    <h2>Daftar Pengaduan oleh {{ object.nama_lengkap }}</h2>
    <ul>
    {% for aduan in object.pengaduan.all %}
    <li>
    <strong>{{ aduan.judul }}</strong> (Status: {{ aduan.get_status_display }})
    <p>{{ aduan.deskripsi }}</p>
    </li>
    {% empty %}
    <li>Warga ini belum pernah membuat pengaduan.</li>
    {% endfor %}
    </ul>
</body>
</html>
